@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@media screen and (min-width: "150px"){

}
@media screen and (min-width: "300px"){

}
@media screen and (min-width: "468px"){

}
@media screen and (min-width: "768px"){

}
@media screen and (min-width: "992px"){

}
@media screen and (min-width: "1024px"){

}
@media screen and (min-width: "1280px"){

}
@media screen and (min-width: "1440px"){
    
}