@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#btn_a{
    box-shadow: 10px 0px 10px 5px blueviolet;
}
#btn_a,
#btn_b{
    width: 50px;
    height: 50px;
    top: 4px;
    border-radius: 100px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_b{
    background-color: blueviolet;
    box-shadow: -10px 0px 10px 5px blueviolet;
}
@media screen and (min-width: "150px"){

}
@media screen and (min-width: "300px"){

}
@media screen and (min-width: "468px"){

}
@media screen and (min-width: "768px"){

}
@media screen and (min-width: "992px"){

}
@media screen and (min-width: "1024px"){

}
@media screen and (min-width: "1280px"){

}
@media screen and (min-width: "1440px"){

}